<style>
    /* 示例样式效果，开发中不需要 */

    div.bui-fluid-3>* {
        padding: .1rem;
    }

    div.bui-fluid-3>*:nth-child(even) {
        background: #f1f1f1;
    }

    div.bui-fluid-3>*:nth-child(odd) {
        background: #dfdfdf;
    }
</style>
<div class="bui-page bui-box-vertical">
    <header>
        <div class="bui-bar">
            <div class="bui-bar-left">
                <a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">3x3布局</div>
            <div class="bui-bar-right">
                <!-- 右边按钮 -->
            </div>
        </div>
    </header>
    <main>
        <div class="subtitle">九宫格布局</div>
        <div class="bui-fluid-3">
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
            <div>1</div>
        </div>
        <div class="subtitle">九宫格图标</div>
        <!-- 3列布局 -->
        <ul class="bui-fluid-3 bui-nav-icon">
            <li class="bui-btn">
                <div class="bui-icon primary round"><i class="icon-success"><span class="bui-badges">15</span></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon success round"><i class="icon-error"></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon warning round"><i class="icon-info"></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon danger round"><i class="icon-shoppingcart"></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon primary round"><i class="icon-success"><span class="bui-badges">15</span></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon success round"><i class="icon-error"></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon warning round"><i class="icon-info"></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon danger round"><i class="icon-shoppingcart"></i></div>
                <div class="span1">小圆图标</div>
            </li>
            <li class="bui-btn">
                <div class="bui-icon primary round"><i class="icon-more"></i></div>
                <div class="span1">小圆图标</div>
            </li>
        </ul>
    </main>
</div>