<style>
    .ordering-menu {
        width: 2rem;
        height: 100%;
        background-color: #f6f6f6;

    }

    .ordering-menu .bui-nav-side .bui-btn {
        border: 0;
        background-color: #f6f6f6;
        font-size: .22rem;
    }

    .ordering-menu .bui-nav-side .bui-btn.active {
        background-color: #fff;
        color: #222;
    }

    .bui-floor {
        margin-left: 2rem;
        background: #fff;
    }

    .bui-floor-main {
        background-color: #f6f6f6;
    }

    .bui-scroll-y {
        height: 100%;
        overflow-y: auto;
    }

    .bui-thumbnail {
        width: 1.6rem;
    }

    .bui-list-thumbnail h3 {
        margin-bottom: .1rem;
        font-size: .26rem;
    }

    .bui-list-thumbnail .bui-tag {
        font-size: .2rem;
        padding: .05rem .1rem;
    }

    .price {
        font-size: .1rem;
    }

    .price strong {
        font-size: .4rem;
    }

    .bui-list-thumbnail .bui-btn {
        border-bottom: 1px solid #efefef;
    }

    .bui-btn-add {
        width: .6rem;
        height: .6rem;
        line-height: .6rem;
        padding: 0;
    }

    .bui-btn-add i {
        margin-top: -.05rem;
    }
</style>
<div class="ordering-menu bui-position-top">
    <div class="bui-scroll-y">
        <ul class="bui-nav-side">
            <li class="bui-btn active">推荐菜品</li>
            <li class="bui-btn">炒菜</li>
            <li class="bui-btn">单人套餐</li>
            <li class="bui-btn">汤类</li>
            <li class="bui-btn">小吃</li>
            <li class="bui-btn">饮料</li>
            <li class="bui-btn">配料</li>
        </ul>
    </div>
</div>
<div class="bui-floor-head">
    分类名，滚动才显示
</div>
<div class="bui-floor">
    <div class="bui-floor-main">
        <div class="panel-list bui-interval">
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">推荐菜品</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <div class="item-text">
                                    <div class="bui-number ring">
                                        <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                        <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                        <div class="bui-number-next"><i class="icon-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">炒菜</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">单人套餐</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭套餐</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">牛肉饭+饮料</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">汤类</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭套餐</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">牛肉饭+饮料</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">小吃</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭套餐</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">牛肉饭+饮料</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">饮料</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭套餐</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">牛肉饭+饮料</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bui-panel bui-floor-item">
                <div class="bui-panel-head">配料</div>
                <div class="bui-panel-main">
                    <ul class="bui-list bui-list-thumbnail">
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭套餐</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">牛肉饭+饮料</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                        <li class="bui-btn bui-box-align-top clearactive">
                            <div class="bui-thumbnail"><img src="images/list-img1.png" alt=""></div>
                            <div class="span1">
                                <h3 class="item-title">牛肉饭</h3>
                                <p class="item-text"><span class="bui-tag ring">7.5折</span></p>
                                <p class="item-text">描述信息</p>
                                <p class="item-text">
                                <div class="bui-number">
                                    <div class="bui-number-prev"><i class="icon-minus"></i></div>
                                    <input class="bui-number-input" type="text" name="bui93932-b317-6961-501e-3d1b62cfeab8" value="1" min="0" max="100" step="1">
                                    <div class="bui-number-next"><i class="icon-plus"></i></div>
                                </div>
                                </p>
                            </div>
                            <span class="price">¥<strong>20</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bui-floor-foot"></div>
</div>