<div class="bui-page">
    <header class="bui-bar">
        <div class="bui-bar-left">
            <a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
        </div>
        <div class="bui-bar-main">弹窗加载器</div>
        <div class="bui-bar-right">
        </div>
    </header>
    <main>
        <div class="bui-fluid-1 bui-interval container-xy">
            <div class="bui-btn" b-click="page.openFulllist">弹窗全屏加载列表组件</div>
            <div class="bui-btn" b-click="page.openToplist">弹窗内嵌加载列表组件</div>
            <div class="bui-btn" b-click="page.openBottomlist">弹窗底部加载列表组件</div>
            <div class="bui-btn" b-click="page.openCenterlist">弹窗居中加载列表组件</div>
            <div class="bui-btn" b-click="page.openFrame">弹窗加载外部页面</div>
            <div class="bui-btn" b-click="page.openHistory">弹窗同步历史记录</div>
        </div>
    </main>
</div>