<style>
    .bui-searchbar .bui-input {
        -webkit-border-radius: .5rem;
        border-radius: .5rem;
    }
</style>
<div class="bui-searchbar bui-box" b-template="searchbar.tpl(searchbar.datas)">
    <!-- <div class="span1">
        <div class="bui-input">
            <i class="icon-search"></i>
            <input type="search" value="" b-placeholder="searchbar.placeholder" b-model="searchbar.value"/>
            <i class="icon-remove" b-show="searchbar.value" b-click="searchbar.remove"></i>
        </div>
    </div>
    <div class="btn-search" b-click="searchbar.search">搜索</div> -->
</div>