<div class="bui-page bui-box-vertical">
    <header>
        <div class="bui-bar">
            <div class="bui-bar-left">
                <a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">分类购买</div>
            <div class="bui-bar-right">
                <!-- 右边按钮 -->
            </div>
        </div>
    </header>
    <main style="overflow: hidden;">
        <component id="categoryComp"></component>
    </main>
    <footer>
        <div class="bui-btn"><i class="icon">&#xe631;<span class="bui-badges" b-text="page.shoppingcart.length"></span></i></div>
    </footer>
</div>